In [5]:
import pandas as pd

In [7]:
df1 = pd.read_csv('노인 승하차(1).csv', encoding = 'cp949')
df2 = pd.read_csv('역별 시간대별 승하차인원(1).csv', encoding = 'cp949')

In [8]:
df1

     호선명   역번호   역명 승하차구분  승하차인원수
0      1   150  서울역    승차  118173
1      1   150  서울역    하차  111415
2      1   151   시청    승차   47686
3      1   151   시청    하차   46713
4      1   152   종각    승차   87092
..   ...   ...  ...   ...     ...
539    8  2826   수진    하차   30481
540    8  2827   모란    승차   38514
541    8  2827   모란    하차   30439
542    8  2828  남위례    승차   13952
543    8  2828  남위례    하차   14047

[544 rows x 5 columns]

In [9]:
df2

,호선명,역번호,역명,승하차구분,06시간대이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,10-11시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시간대이후
0,1,150,서울역,승차,98,102,216,281,298,378,...,626,688,594,489,308,252,210,128,43,2
1,1,150,서울역,하차,108,286,354,443,513,560,...,527,452,432,305,212,157,131,70,25,7
2,1,151,시청,승차,19,40,39,47,88,109,...,386,324,308,245,136,132,101,70,15,1
3,1,151,시청,하차,80,122,261,314,272,268,...,152,133,122,89,40,23,21,11,3,2
4,1,152,종각,승차,35,43,34,84,144,231,...,725,560,423,343,242,212,203,156,46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543,8,2828,남위례,하차,12,40,59,41,31,46,...,64,84,69,74,51,38,44,22,10,3
544,3,321,충무로,승차,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
545,3,321,충무로,하차,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
546,6,2615,연신내,승차,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
547,6,2615,연신내,하차,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# 병합 해결

In [13]:
merged_data = df1.merge(df2, on=(['호선명', '역번호', '역명', '승하차구분']))
merged_data

,호선명,역번호,역명,승하차구분,승하차인원수,06시간대이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시간대이후
0,1,150,서울역,승차,118173,98,102,216,281,298,...,626,688,594,489,308,252,210,128,43,2
1,1,150,서울역,하차,111415,108,286,354,443,513,...,527,452,432,305,212,157,131,70,25,7
2,1,151,시청,승차,47686,19,40,39,47,88,...,386,324,308,245,136,132,101,70,15,1
3,1,151,시청,하차,46713,80,122,261,314,272,...,152,133,122,89,40,23,21,11,3,2
4,1,152,종각,승차,87092,35,43,34,84,144,...,725,560,423,343,242,212,203,156,46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,8,2826,수진,하차,30481,10,59,47,93,112,...,172,135,103,96,65,35,37,23,18,3
540,8,2827,모란,승차,38514,28,43,48,63,84,...,157,156,138,111,61,38,37,23,3,0
541,8,2827,모란,하차,30439,13,50,40,68,71,...,117,101,80,76,35,21,17,12,1,5
542,8,2828,남위례,승차,13952,13,33,58,82,90,...,77,69,63,40,21,23,16,15,2,1
543,8,2828,남위례,하차,14047,12,40,59,41,31,...,64,84,69,74,51,38,44,22,10,3

In [15]:
merged_data.to_csv('역별 시간대별 노인 승하차.csv', encoding='cp949', index = False)