In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
# 데이터 파일 불러오기
data = pd.read_csv('_(전체인원 대비 노인) 서울교통공사_1_8호선 역별 일별 시간대별 승객유형별 승하차인원_20221231.csv', encoding = 'cp949')
data

,연번,수송일자,호선명,역번호,역명,승하차구분,승객유형,06시간대이전,06-07시간대,07-08시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시간대이후
0,1,2022-07-01,1,150,서울역,승차,일반,220,338,1385,...,2635,2887,4414,7559,3081,2415,2400,1919,989,41
1,2,2022-07-01,1,150,서울역,승차,어린이,0,1,2,...,9,17,7,8,8,10,4,10,2,0
2,3,2022-07-01,1,150,서울역,승차,중고생,0,0,0,...,2,1,1,0,0,0,2,1,0,0
3,4,2022-07-01,1,150,서울역,승차,청소년,0,5,24,...,76,48,34,53,18,36,26,22,19,1
4,5,2022-07-01,1,150,서울역,승차,우대권,98,102,216,...,626,688,594,489,308,252,210,128,43,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
650867,650868,2022-12-31,8,2828,남위례,승차,우대권,14,21,20,...,48,41,26,32,23,21,17,16,3,2
650868,650869,2022-12-31,8,2828,남위례,하차,일반,11,38,43,...,201,236,202,197,180,133,155,148,106,36
650869,650870,2022-12-31,8,2828,남위례,하차,어린이,0,0,0,...,4,9,6,2,7,3,4,1,0,2
650870,650871,2022-12-31,8,2828,남위례,하차,청소년,0,3,0,...,20,18,13,20,15,8,7,15,7,0
650871,650872,2022-12-31,8,2828,남위례,하차,우대권,11,27,33,...,69,60,67,42,38,30,25,13,5,3

In [14]:
data.drop('연번', axis=1, inplace=True)
data.drop('수송일자', axis=1, inplace=True)

In [15]:
data

,호선명,역번호,역명,승하차구분,승객유형,06시간대이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시간대이후
0,1,150,서울역,승차,일반,220,338,1385,2199,1572,...,2635,2887,4414,7559,3081,2415,2400,1919,989,41
1,1,150,서울역,승차,어린이,0,1,2,2,8,...,9,17,7,8,8,10,4,10,2,0
2,1,150,서울역,승차,중고생,0,0,0,0,0,...,2,1,1,0,0,0,2,1,0,0
3,1,150,서울역,승차,청소년,0,5,24,16,22,...,76,48,34,53,18,36,26,22,19,1
4,1,150,서울역,승차,우대권,98,102,216,281,298,...,626,688,594,489,308,252,210,128,43,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
650867,8,2828,남위례,승차,우대권,14,21,20,32,59,...,48,41,26,32,23,21,17,16,3,2
650868,8,2828,남위례,하차,일반,11,38,43,113,114,...,201,236,202,197,180,133,155,148,106,36
650869,8,2828,남위례,하차,어린이,0,0,0,0,0,...,4,9,6,2,7,3,4,1,0,2
650870,8,2828,남위례,하차,청소년,0,3,0,0,6,...,20,18,13,20,15,8,7,15,7,0
650871,8,2828,남위례,하차,우대권,11,27,33,26,24,...,69,60,67,42,38,30,25,13,5,3

In [16]:
data = data[data['승객유형']=='우대권']
data # 최종 data

,호선명,역번호,역명,승하차구분,승객유형,06시간대이전,06-07시간대,07-08시간대,08-09시간대,09-10시간대,...,15-16시간대,16-17시간대,17-18시간대,18-19시간대,19-20시간대,20-21시간대,21-22시간대,22-23시간대,23-24시간대,24시간대이후
4,1,150,서울역,승차,우대권,98,102,216,281,298,...,626,688,594,489,308,252,210,128,43,2
13,1,150,서울역,하차,우대권,108,286,354,443,513,...,527,452,432,305,212,157,131,70,25,7
22,1,151,시청,승차,우대권,19,40,39,47,88,...,386,324,308,245,136,132,101,70,15,1
30,1,151,시청,하차,우대권,80,122,261,314,272,...,152,133,122,89,40,23,21,11,3,2
38,1,152,종각,승차,우대권,35,43,34,84,144,...,725,560,423,343,242,212,203,156,46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
650849,8,2826,수진,하차,우대권,11,34,32,48,61,...,122,89,75,41,46,23,35,30,12,5
650854,8,2827,모란,승차,우대권,32,21,44,21,64,...,108,120,113,62,38,30,21,13,4,1
650861,8,2827,모란,하차,우대권,10,41,27,37,52,...,85,89,66,40,19,18,18,13,5,4
650867,8,2828,남위례,승차,우대권,14,21,20,32,59,...,48,41,26,32,23,21,17,16,3,2
650871,8,2828,남위례,하차,우대권,11,27,33,26,24,...,69,60,67,42,38,30,25,13,5,3

In [17]:
data2 = data[data['승하차구분'] == '승차']
data3 = data2[['호선명','승하차구분','역명','13-14시간대', '14-15시간대', '15-16시간대']]
data3

        호선명 승하차구분     역명  13-14시간대  14-15시간대  15-16시간대
4         1    승차    서울역       646       546       626
22        1    승차     시청       236       294       386
38        1    승차     종각       497       697       725
54        1    승차   종로3가      1013      1151      1285
68        1    승차   종로5가      1037      1218      1162
...     ...   ...    ...       ...       ...       ...
650824    8    승차  단대오거리       192       156       134
650834    8    승차     신흥        86        62        88
650844    8    승차     수진        88        99       113
650854    8    승차     모란       161       118       108
650867    8    승차    남위례        48        57        48

[50027 rows x 6 columns]

In [19]:
data4 = data[data['승하차구분'] == '하차']
data5 = data4[['호선명','승하차구분','역명','13-14시간대', '14-15시간대', '15-16시간대']]
data5

        호선명 승하차구분     역명  13-14시간대  14-15시간대  15-16시간대
13        1    하차    서울역       556       530       527
30        1    하차     시청       193       204       152
46        1    하차     종각       387       327       272
61        1    하차   종로3가      1272      1048       782
75        1    하차   종로5가       946       996       777
...     ...   ...    ...       ...       ...       ...
650829    8    하차  단대오거리       144       141       128
650839    8    하차     신흥       163       145       100
650849    8    하차     수진       179       136       122
650861    8    하차     모란        84        72        85
650871    8    하차    남위례        42        63        69

[50027 rows x 6 columns]